dev-assets/themes

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store

node_modules/
vendor/

.npm
.eslintcache
.env
.phpunit.result.cache
.wp-env.override.json
.vscode/settings.json

*.tgz
*.zip
*.map

release/
svn/
build/
artifacts/
