.pattern-manager_container {

	height: 100%;

	.pattern-manager_preview-grid {

		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		gap: 2rem;

		.pattern-manager_preview-grid-item {
			padding: 1rem;
			background-color: #f9f9f9;
			border-radius: 8px;
			cursor: pointer;

			transition: background-color 0.3s ease, box-shadow 0.3s ease;

			&:hover {
				background-color: #f0f0f0;
				box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
			}
		}

	}

	.pattern-manager_editor {
		display: flex;
		flex-direction: column;
		height: 100%;

		.pattern-editor_header {
			padding: 1rem;
			font-weight: bold;
			border-bottom: 1px solid #ddd;
		}

		.pattern-editor_body {
			display: flex;
			flex: 1;
			overflow: hidden;

			.pattern-editor_list-view {
				padding: 1rem;
				overflow-y: auto;
				width: 300px;
			}

			.pattern-editor_content {
				flex: 3;
				padding: 1rem;
				background-color: #eee;
			}

			.pattern-editor_sidebar {
				padding: 1rem 0;
				overflow-y: auto;
				width: 370px;
			}
		}

	}
}

.pattern-manager_modal {
	.components-modal__content {
		padding-left: 0;
		padding-right: 0;
		padding-bottom: 0;

		*:has(> .pattern-manager_container) {
			height: 100%;
		}

	}
}

